<!DOCTYPE html>
<html>
<head>
  <title>StudentManager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
  <%= render "pages/navbar" %>
  <% if current_admin.present? %>
  <div class="container main">
    <div class="row">
      <div class="col-2 sidebar">
        <%= render "pages/sidebar" %>
      </div>
      <div class="col-10">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <div class="content">
    <%= yield %>
  </div>
  <% end %>

</body>
</html>
